<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Regression Test Suite">
    <test name="Invalid email input - no at or domain">
        <parameter name="username" value="abc"/>
            <classes>
                <class name="alphasights.apps.clientPlatform.invalidLoginTests.invalidLogin" />
            </classes>
    </test>
    <test name="Invalid email input - no domain">
        <parameter name="username" value="abc@def"/>
        <classes>
            <class name="alphasights.apps.clientPlatform.invalidLoginTests.invalidLogin" />
        </classes>
    </test>
    <test name="Invalid email input - no at">
        <parameter name="username" value="abc.com"/>
        <classes>
            <class name="alphasights.apps.clientPlatform.invalidLoginTests.invalidLogin" />
        </classes>
    </test>
    <test name="Invalid email input - single letter domain">
        <parameter name="username" value="abc@def.g"/>
        <classes>
            <class name="alphasights.apps.clientPlatform.invalidLoginTests.invalidLogin" />
        </classes>
    </test>
    <test name="Fake User Test Suite">
        <classes>
            <class name="alphasights.apps.clientPlatform.invalidLoginTests.fakeUser"/>
        </classes>
    </test>
    <test name ="Sign In Help Button Test Suite">
        <classes>
            <class name="alphasights.apps.clientPlatform.invalidLoginTests.signInHelpButtons"/>
        </classes>
    </test>
    <test name = "Standard Login Test Suite">
        <packages>
            <package name="alphasights.apps.clientPlatform.validLoginTests" />
            <package name="alphasights.apps.clientPlatform.originalFlows"/>

        </packages>
    </test>
</suite>